= partial 'partials/flash', :locals => { :flash => flash }
- if @course_options.empty?
  .section
    %header
      %h2 Welcome to Recall!
    %p Begin by creating a new course that you're enrolled in.
  .section
    - form_tag url(:courses, :create), :class => "grid-form", :method => "post" do
      = hidden_field_tag :redirect, :value => "/"
      %fieldset
        %legend Enroll
        %div{:'data-row-span' => '12'}
          %div{:'data-field-span' => '6'}
            %label{:for => "course[name]]"} Name
            = text_field_tag :"course[name]", :placeholder => "Human-readable name"
          %div{:'data-field-span' => '6'}
            %label{:for => "course[code]]"} Code
            = text_field_tag :"course[code]", :placeholder => "Course code (e.g., CMPT100N)"
        %footer
          %nav
            %button{:type => "submit"} Save

- else

  .section
    - form_tag url(:assignments, :create), :class => "grid-form", :method => "post" do
      %fieldset
        %legend
        %div{:'data-row-span' => '12'}
          %div{:'data-field-span' => '12'}
            %label{:for => "assignment[text]"} Assignment
            = text_field_tag :"assignment[text]", :class => "trigger", :placeholder => "What do you have to do?"
        %div.hidden{:'data-row-span' => '12'}
          %div{:'data-field-span' => '6'}
            %label{:for => "assignment[due]"} Due Date
            %input{:type => "date", :name => "assignment[due]", :value => Date.tomorrow.to_s}
          %div{:'data-field-span' => '6'}
            %label{:for => "assignment[course]"} Course
            = select_tag :"assignment[course]", :options => @course_options
        %footer
          %aside
            %a.hide
              %i.ss-icon close
              Hide
          %nav
            %button.blue{:type => "submit"} Save

.section
  - @assignments.each do |a|
    = partial 'partials/assignment', :locals => { :assignment => a }
