%header.section
  %h2 Courses
.section
  - @courses.each do |course|
    %article.course
      %aside
        %span= course.pending
      %section
        %p.name= link_to course.name, url(:courses, :show, :id => course.id)
        %p.code= course.code
= partial 'partials/flash', :locals => { :flash => flash }
.section
  - form_tag url(:courses, :create), :class => "grid-form", :method => "post" do
    %fieldset
      %legend Enroll
      %div{:'data-row-span' => '12'}
        %div{:'data-field-span' => '6'}
          %label{:for => "course[name]]"} Name
          = text_field_tag :"course[name]"
        %div{:'data-field-span' => '6'}
          %label{:for => "course[code]]"} Code
          = text_field_tag :"course[code]"
      %footer
        %nav
          %button{:type => "submit"} Save
