%header.section
  %h2 Courses
.section
  - @courses.each do |course|
    %article.course
      %aside
        %span= course.pending
      %section
        %p= link_to course.name, url(:courses, :show, :id => course.id)
        %p= course.code
.section
  %h3 Enroll
  - form_tag url(:courses, :create), :method => "post" do
    .group
      %label{:for => "course[name]"} Name
      .control
        = text_field_tag :"course[name]", :placeholder => "A human-readable name"
    .group
      %label{:for => "course[code]"} Code
      .control
        = text_field_tag :"course[code]", :placeholder => "The code for the course (e.g., ENG101)"
    .group
      .control.labelless
        %button{:type => "submit"} Save
