%header.section
  %h2= @course.name
.section
  - if @assignments.blank?
    %p No assignments for this course!
  - else
    - @assignments.each do |assignment|
      = partial 'partials/assignment', :locals => { :assignment => assignment }

.section
  - form_tag url(:assignments, :create), :class => "grid-form", :method => "post" do
    = hidden_field_tag :"redirect", :value => "/c/#{@course.id}"
    = hidden_field_tag :"assignment[course]", :value => @course.id
    %fieldset
      %legend
      %div{:'data-row-span' => '12'}
        %div{:'data-field-span' => '12'}
          %label{:for => "assignment[text]"} Assignment
          = text_field_tag :"assignment[text]", :class => "trigger", :placeholder => "What do you have to do?"
      %div{:'data-row-span' => '12'}
        %div{:'data-field-span' => '6'}
          %label{:for => "assignment[due]"} Due Date
          %input{:type => "date", :name => "assignment[due]", :value => Date.tomorrow.to_s}
        %div{:'data-field-span' => '6'}
          %label{:for => "assignment[course]"} Course
          = select_tag :"assignment[course]", :options => @course_options, :disabled => true
      %footer
        %nav
          %button.blue{:type => "submit"} Save
