!!!5
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/

    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "author"}/

    %title Recall

    %link{:href => "/humans.txt", :rel => "author", :type => "text/plain"}/
    %link{:href => "/assets/application.css", :rel => "stylesheet"}/

    %script{:src => "//use.typekit.net/uzt6kno.js"}
    :coffeescript
      try
        Typekit.load()
      catch error
        console.log error

  %body
    #contain

      %header
        %section
          %hgroup
            %h1= link_to "Recall", url(:index)
          - if current_user
            %nav.left
              %ul
                %li= link_to "Assignments", url(:assignments, :index)
                %li= link_to "Courses", url(:courses, :index)
            %nav.right
              %ul
                %li
                  %a{:href => url(:users, :edit)}
                    %i.ss-icon gear
                %li= link_to "Logout", url(:sessions, :destroy)

      #main{:role => "main"}
        = yield

      %footer
        .inner
          %p= s("<a href='/'>Recall</a> fecit #{Time.now.year}.")

    %script{:src => "/assets/application.js"}
    :javascript
      window._gaq = [['_setAccount','UAXXXXXXXX1'],['_trackPageview'],['_trackPageLoadTime']];
